.searchDropdown {
  &-component {
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    width: 893px;
    max-height: 893px;
    background: #ffffff;
    border: 1px solid #e4e5e7;
  }

  &-noResult {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #18191b;
    font-size: 18px;
    font-weight: bold;
    margin: 13px 24px;

    img {
      height: 40px;
      margin-right: 16px;
    }
  }

  &-scroll {
    overflow-x: auto;

    &::after {
      content: "";
      margin-top: 24px;
      display: block;
      height: 1px;
      background: #e4e5e7;
    }
  }

  &-showAll {
    display: flex;
    justify-content: center;
    margin: 12px 0px;
  }
}
