.component {
  display: flex;
  flex-direction: column;
  width: 893px;
  height: 893px;
  background: #FFFFFF;
  border: 1px solid #E4E5E7;
  .showAll {
    display: flex;
    justify-content: center;
  }
  .result {
    display: flex;
    flex-direction: column;
  }
}
