@import "~@ff/ui-kit/lib/styles/scss/fns/colors";
.wrapper {
  height: 100%;
  background: $base-color-10;
  color: $base-color-900;

  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: $base-color-200;
    border-radius: 1px;
  }
}
