$fontColorBlack: #18191b;
$fontColorBlue: #0057ff;
$infoFontColor: #797d86;
.searchItem {
  &-component {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
  }

  &-logo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 40px;
    margin-right: 16px;
  }

  &-mainInfo {
    width: 444px;
  }

  &-itemName {
    font-size: 16px;
    color: $fontColorBlack;

    a {
      text-decoration: none;
      color: $fontColorBlue;
    }
  }

  &-shortInfo {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    color: $infoFontColor;

    p {
      margin-top: 4px;
      margin-bottom: 0px;
    }

    span {
      padding-right: 16px;
      color: $fontColorBlack;
    }
  }

  &-date {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: $infoFontColor;
    margin: 0px 24px 0px 32px;

    span {
      color: $fontColorBlack;
    }
  }
}
