$backgroundNotSelected: #ebf1ff;
$backgroundSelected: #494b50;
$fontColor: #18191b;
.resultPage {
  padding-left: 32px;

  &-searchValue {
    margin: 24px 0px;
    color: $fontColor;

    span {
      font-style: italic;
      font-weight: 400;
    }
  }

  &-tab {
    height: 32px;
    margin-right: 8px;
    background-color: #e4e5e7;
    border-radius: 4px;
    border: none !important;
    cursor: pointer;

    &:hover {
      background: $backgroundSelected;
      color: #ffffff;
      transition: 0.3s;
    }

    span span {
      padding: 0px 4px;
      color: $fontColor;
      background: $backgroundNotSelected;
      border-radius: 16px;
    }

    &_selected {
      background-color: $backgroundSelected !important;
      color: #ffffff !important;

      span span {
        padding: 0px 4px;
        color: $fontColor;
        background: $backgroundNotSelected;
        border-radius: 16px;
      }
    }
  }

  &-pagination {
    margin-top: 68px;
  }
}
