.component {
  width: 100%;
  .search {
    position: relative;
    width: 475px;
    height: 40px;
    input {
      padding-left: 30px;
      width: 475px;
      height: 40px;
      font-size: 16px;
    }
    .serachIcon {
      position: absolute;
      top: 8px;
      left: 6px;
      width: 17px;
      height: 17px;
    }
    .extendedSerachIcon {
      position: absolute;
      top: 8px;
      right: 19px;
      width: 17px;
      height: 17px;
    }
  }
}
