@import-normalize;
@import "./modules/Search/styles/index.scss";
@font-face {
  font-family: "Roboto";
  src: url(./assets/Roboto-Bold.ttf);
  src: url(./assets/Roboto-Italic.ttf);
  src: url(./assets/Roboto-Regular.ttf);
}
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  display: none;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
